/**
* This is your main SCSS file. Please refer to the documentation for more information.
*/
.ia__cosmos__container{
	font-family: Asap, 'Segoe UI', 'Helvetica', 'Droid Sans', sans-serif;
	font-size: 14px;
	border: 1px groove lightgrey;
  	padding: 24px;
  	padding-bottom: 70px;
  	color: #353c52;
  	display: block;
  	transition:max-height 0.3s ease-out;
  	
  	a {
  		color: black;
  		text-decoration: underline;
  	}
  	a:link {
  		color: black;
  		text-decoration: underline;

  	}
  	a:visited {
  		color: black;
  		text-decoration: underline;
  	}
  	a:hover {
  		color: black;
  		text-decoration: underline;
  	}
  	a:active {
  		color: black;
  		text-decoration: underline;
  	}
}

.ia__cosmos__main {
	display: grid;
  	grid-template-columns: 70% 30%;
}
.ia__cosmos__left{
	float: left;
	display: block;
}

.ia__cosmos__description{
	display:block;
	margin-top: 10px;
}

.ia__cosmos__right {
	
	height: 180px;
	width: 180px;
	background-color: black;
	border-radius: 50%;
	background-image:
		radial-gradient(white, rgba(0,0,0,.2) 2px, transparent 40px),
		radial-gradient(white, rgba(0,0,0,.15) 1px, transparent 30px),
		radial-gradient(white, rgba(0,0,0,.1) 2px, transparent 40px),
		radial-gradient(rgba(0,0,0,.4), rgba(0,0,0,.1) 2px, transparent 30px);
	background-size: 50px 50px;
	background-position: 4px 7px, 37px 62px, 93px 287px, 95px 118px;
	display: flex;
	padding: 18px;
	margin-left: 8px;
}

.ia__cosmos__img {
    border-radius: 50%;
    
    
    
	    
}
.ia__cosmos__title{
	font-size: 28px;
	display:block;
	color: #353c52;
	font-weight: bold;
	margin-bottom: 10px;
}
.ia__cosmos__subtitle{
	display:inline;
	padding-bottom: 12px;
	font-weight: bold;
}
.ia__cosmos__discovery{
	display:block;
	padding-bottom: 12px; 
}

.ia__cosmos__wikilink {
	display: block;
	padding-top:12px;
	margin-bottom: 24px;

}
.ia__cosmos__orbital__title{
	display:block;
	color: #5c6f84;
	font-weight: bold;
}
.ia__cosmos__orbital{
	display: grid;
	grid-template-columns: 50% 50%;
	padding-bottom: 24px;
}
.ia__cosmos__physical__title{
	color: #5c6f84;
	font-weight: bold;
}
.ia__cosmos__physical{
	display: grid;
	grid-template-columns: 50% 50%;
	margin-bottom: 50px;	
}
.ia__cosmos__td-field{
	padding-top: 12px;
	font-weight: bold;
}

.ia__cosmos__data{
	display: none;
}

.ia__cosmos__data--expanded{
	display: block;
}

.ia__cosmos__datacontainer{
	max-height:0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}
.ia__cosmos__mobile{
	display:none;
}
.ia__cosmos__btn{
	position: absolute;
	bottom: 0;
	justify-content: center;
	width: 100%;
	font-weight: 500;
	left: 0;
	border-top: 1px solid #e0e1e6;
	clear: both;
	display: block;
	height: 56px;
	line-height: 56px;
	font-size: 12px;
	color: #5c6f84;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	border-top-width: 1px;
	border-top-style: solid;
	background-color: lightgrey;
	svg {
    	vertical-align: middle;
    	transition: transform .2s;
	}
}

.ia__cosmos__btn--more {
	display: inline-block;

}

.ia__cosmos__btn--less {
	display: none;
}


.ia__cosmos__container--expanded{
	.ia__cosmos__btn--less {
		display: inline-block;

	}
	.ia__cosmos__btn--more {
		display: none;
	}
	svg {
  		transform: rotate(180deg);
	}

}


.ia__cosmos__moonbtn {
	display: inline;
	margin-left: 5px;
	text-decoration: none;

}


.ia__cosmos__moonlist{
	display: none;
	position: relative;

}

.ia__cosmos__moonlist--more {
	display:inline;
	cursor: pointer;
	font-style: italic;
	margin-left: 2px;
}
.ia__cosmos__moonlist--less {
	display:none;
	cursor: pointer;
	font-style: italic;
	margin-left: 2px;
}

.ia__cosmos__moons--expanded {

	.ia__cosmos__moonlist{
		display: inline;
	}
	.ia__cosmos__moonlist--more {
		display: none;
	}
	.ia__cosmos__moonlist--less{
		display: inline;
	}
}

.ia__cosmos__moons{
	max-height: 29px;
	transition: max-height 0.3s ease-out;
	display: inline;
	overflow: hidden;
}

.ia__cosmos__physical__table {
	position: relative;
}

/* Mobile*/
@media (max-width: 1450px) {

	.ia__cosmos__datacontainer {
		margin-bottom: 40px;
	}
	.ia__cosmos__container {
		padding-bottom: 0px;
	}

	.ia__cosmos__title {
		font-size: 18px;
		margin-bottom: 7px;
	}

	.ia__cosmos__subtitle{
		margin-bottom: 7px;
		font-size: 14px;
	}

	.ia__cosmos__header {
		display: inline;
	  	grid-template-columns: 70% 30%;
	}

	.ia__cosmos__left{
		float:left;
	}

	.ia__cosmos__description{
		margin-top: 7px;
		padding-bottom: 7px;
		display:block;
	}

	.ia__cosmos__mobile {
		float:right;
		display: flex;
		padding: 15px;
		
		margin: 0px 0px 10px 10px;
		width: 100px;
	    height: 100px;
		background-color: black;
		border-radius: 50%;
		background-image:
			radial-gradient(white, rgba(0,0,0,.2) 2px, transparent 40px),
			radial-gradient(white, rgba(0,0,0,.15) 1px, transparent 30px),
			radial-gradient(white, rgba(0,0,0,.1) 2px, transparent 40px),
			radial-gradient(rgba(0,0,0,.4), rgba(0,0,0,.1) 2px, transparent 30px);
		background-size: 50px 50px;
		background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	}

	.ia__cosmos__img-mobile{
		border-radius: 50%;
	}

	.ia__cosmos__right {
		display: none;
	}

	.ia__cosmos__img{
		display:none;
	}
	
	.ia__cosmos__orbital{
	
		grid-template-columns: 100%;
		margin-bottom: 12px;
	}
	.ia__cosmos__physical{
	
		grid-template-columns: 100%;
		margin-bottom: 50px;
	}
	.ia__cosmos__physical__title{
		margin-top: 7px;
	}

	.ia__cosmos__td-field{
		padding-top: 12px;
		font-weight: bold;
		width: 50%;
	}
	.ia__cosmos__main{
		grid-template-columns: 100%;
	}

}
